:root {
    --colorTextos: #02020267; 
}


*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    background: #9eccdc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7cb2ef, #6d87ca);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #96efe1, #c8c5f4);
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;

}

h1 {
     text-align: center;
     font-weight: 700;
}

form{
    background: #fff;
    padding: 40px 0;
    box-shadow: 0 0 6x 0 rgba( 255, 255, 255, 0.8);
    border-radius: 10px;
}

.form{
    width: 100%;
}